* {
  margin: 0;
  padding: 0;
}
body{
    background-color: #e5e5e5;
    width: 1024px;
    margin: auto;
}
.container{
  background-image: url('../img/8699369566_44a137e734_o.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1024px;
  height: 600px;
}

h1{
  font-family: 'Manuale';
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  padding-top: 250px
}
ol {
  background-color: #e5e5e5;
  list-style-type: decimal-leading-zero;
  margin-left: 20px;
}
