* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: Ubuntu;
  width: 1440px;
  height: 20000px
}

/* nav */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

a,h1,p:nth-of-type(1) {
  font-family: Manuale;
}
a {
  color: white;
  text-decoration: none;
  padding-left: 4px;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

p:nth-of-type(1) {
  color: white;
  padding-right: 6px;
}
/* end nav */

#container-1 {
margin-top: 45px;
width: 100vw;
display: flex;
flex-direction: row;
background: url('../img/boards-album.jpg')no-repeat fixed 0 0 / cover;
justify-content: space-between;
align-items: center;
filter: blur(40px);
}

#container-2 {
  padding: 40px;
  justify-content: center;
}

img:nth-of-type(1) {
  height: 200px;
  width: 205px;
}
